body {
    font-family: 'Indie Flower', cursive; 
    margin: 0;
    padding: 0;
    background-color: #FAFAF0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3EB489;
    padding: 10px;
    color: #ffffff;
}

.recipe-header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.recipe-header h2 {
    font-size: 24px;
    margin: 0; 
}

.love-icon img,
.back-icon img,
.profile-icon img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.search-bar {
    flex-grow: 1;
    margin: 0 10px;
    border-radius: 20px;
    overflow: hidden;
}

.search-bar input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    outline: none;
    border-radius: 20px;
}

.dafood-logo {
    background-color: #94FFD4;
    color: black;
    padding: 10px;
    cursor: pointer;
    font-family: 'Indie Flower', cursive;
}

.content-container {
    text-align: center;
    margin-top: 50px;
}

.recipe-detail h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.recipe-detail h3 {
    font-size: 20px;
    margin: 0 0 10px;
}

.recipe-detail p {
    font-size: 16px;
    margin: 0;
    padding: 10px;
}

.recipe-detail .ratings-section {
    margin-top: 20px;
}

.recipe-detail .ratings-section h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.recipe-detail .ratings-section p {
    font-size: 16px;
    margin: 0;
    padding: 5px;
}

.recipe-detail .rate-comment-form {
    margin-top: 20px;
}

.recipe-detail .rate-comment-form h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.recipe-detail .rate-comment-form form {
    margin-top: 10px;
}

.recipe-detail .rate-comment-form label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
}

.recipe-detail .rate-comment-form input[type="number"],
.recipe-detail .rate-comment-form textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.recipe-detail .rate-comment-form input[type="submit"] {
    background-color: #3EB489;
    color: #ffffff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.recipe-detail .rate-comment-form input[type="submit"]:hover {
    background-color: #39857F;
}

img {
    width: 259px;
    height: 187px;
    object-fit: cover; 
}

@media screen and (max-width: 479px) {
    .search-bar {
        margin: 0 5px;
    }

    .recipe-detail h2 {
        font-size: 20px; /* Adjust font size for better readability */
    }

    .recipe-detail h3 {
        font-size: 18px; /* Adjust font size for better readability */
        margin-bottom: 8px; /* Adjust margin for better spacing */
    }

    .recipe-detail p {
        font-size: 14px; /* Adjust font size for better readability */
    }

    .recipe-detail .ratings-section h3,
    .recipe-detail .rate-comment-form h3 {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .recipe-detail .ratings-section p,
    .recipe-detail .rate-comment-form label {
        font-size: 14px;
    }

    .recipe-detail .rate-comment-form input[type="number"],
    .recipe-detail .rate-comment-form textarea,
    .recipe-detail .rate-comment-form input[type="submit"] {
        font-size: 14px;
    }

    .content-container {
        margin-top: 30px; /* Adjust margin for better spacing on smaller screens */
    }
}
